#clock-container{
    background: #000;
    border-radius: 50%;
    height: 450px;
    position: relative;
    width: 450px;
}
.clock-inner-container{
    background: #fff;
    border-radius: 50%;
    position: absolute;
    height: 350px;
    left: 50%;
    margin: -175px 0px 0px -175px;
    top: 50%;
    width: 350px;
}
.seconds-ticker{
    background: #000;
    border-radius: 50%;
    position: absolute;
    height: 20px;
    left: 50%;
    margin: -10px 0px 0px -10px;
    top: 50%;
    width: 20px;
}
.stick{
    animation: tick 60s steps(60, end) infinite;
    background: #000;
    bottom: 25%;
    position: absolute;
    height: 165px;
    left: 45%;
    transform-origin: 0% 100%;
    width: 2px;
}
@keyframes tick {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}
@-webkit-keyframes tick {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@-moz-keyframes tick {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}