#clock-container{
    background: #000;
    border-radius: 50%;
    height: 450px;
    position: relative;
    width: 450px;
}
.clock-inner-container{
    background: #fff;
    border-radius: 50%;
    position: absolute;
    height: 350px;
    left: 50%;
    margin: -175px 0px 0px -175px;
    top: 50%;
    width: 350px;
}
.seconds-ticker{
    background: #000;
    border-radius: 50%;
    position: absolute;
    height: 20px;
    left: 50%;
    margin: -10px 0px 0px -10px;
    top: 50%;
    width: 20px;
}